@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	background-color: #23272a;
	color: white;
	font-family: Whitney, "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 25px;
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: 100vw;
}

.blue-button {
  display: inline-block;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.blue-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}

.blue-button:hover{
  transform: translateY(1px);
}

.blue-button:active{
  transform: translateY(2px);
}

.blue-button{
  outline: transparent !important;
}

.container{
	box-sizing: border-box;
	background-color: #2c2f33;
	width: 100%;
	padding: 50px;
	text-align: center;
	justify-self: center;
	align-self: center;
}